button,
form,
div,
input {
  margin: 10px;
}

section {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

button {
  background-color: #B22222;
  color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  border-style: hidden;
  outline: none;
}

button:hover {
  background-color: #CD5C5C;
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}


